Source: nipy-suite
Section: python
Priority: extra
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>,
		   Michael Hanke <michael.hanke@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.nipy.org
Vcs-Git: git://github.com/nipy/nipy-suite.git
Vcs-Browser: https://github.com/nipy/nipy-suite

Package: nipy-suite
Architecture: all
Depends: ${misc:Depends},
         python-nibabel (>= 1.0.0),
         python-nipy (>= 0.1.2+20110114),
         python-dipy (>= 0.5.0),
         python-nipype (>= 0.3.3),
         python-nitime (>= 0.2)
Suggests: python-mvpa,
          psychopy
Description: Neuroimaging in Python
 NiPy is a comprehensive suite of Python modules to perform analysis
 of Neuroimaging data in Python. nipy-suite is a metapackage depending
 on the projects developed under NiPy project umbrella, such as
  - nibabel: bindings to various neuroimaging data formats
  - nipy:    analysis of structural and functional neuroimaging data
  - nitime:  timeseries analysis
  - dipy:    analysis of MR diffusion imaging data
  - nipype:  pipelines and worfklows


Package: nipy-suite-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         python-nibabel-doc (>= 1.0.0),
         python-nipy-doc (>= 0.1.2+20110114),
         python-dipy-doc (>= 0.5.0),
         python-nipype-doc (>= 0.3.3),
         python-nitime-doc (>= 0.2)
Suggests: python-mvpa-doc
Description: Neuroimaging in Python -- documentation
 NiPy is a comprehensive suite of Python modules to perform analysis
 of Neuroimaging data in Python.
 .
 nipy-suite-doc is a metapackage depending on the documentation
 packages for NiPy projects.
